<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Magical Mirror</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <h1>Magical Mirror</h1>

        <!-- Form to submit a new message-->
        <form id="messageForm">
            <input type="'text" id="messageInput" placeholder="Leave an encouraging message"/>
            <button type="submit">Submit</button>
        </form>
    </body>

</html>